<div class="row">
    <div class="card col-md-6 offset-md-3 offset-md-3">
      <div class="row">
        <h3 class="text-center"> Update Login User By ID</h3>
        <hr />
        <div class="card-body">
          <form (ngSubmit)="onSubmit()">
  
            <div class="form-group">
              <label> Enter Login User Name  </label>
              <input type="text" class="form-control" id="userName" [(ngModel)]="loginUserAuthMaster.userName"
                     name="userName" background-color="Red" readonly >
            </div>

            <div class="form-group">
              <label> Enter Login User UserName  </label>
              <input type="text" class="form-control" id="userUsername" [(ngModel)]="loginUserAuthMaster.userUsername"
                     name="userUsername">
            </div>

            <div class="form-group">
              <label> Enter Login User Password </label>
              <input type="text" class="form-control" id="userPassword" [(ngModel)]="loginUserAuthMaster.userPassword"
                     name="userPassword">
            </div>
  
            <div class="form-group">
              <label> Enter Login User Email </label>
              <input type="text" class="form-control" id="userEmail" [(ngModel)]="loginUserAuthMaster.userEmail"
                     name="userEmail">
            </div>

            <br />
            <button class="btn btn-success" type="submit">Submit</button>
              &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
   			<button (click) = "goToLohinUserDetails(loginUserAuthMaster.loginId)" class = "btn btn-primary" style=font-size:12px> Login User Details</button>
   			&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
   			<button (click) = "goToLoginUserList()" class = "btn btn-primary" style=font-size:12px> Login User List</button>
  
          </form>
        </div>
      </div>
    </div>
  </div>