<div class="row">
    <div class="card col-md-6 offset-md-3 offset-md-3">
      <div class="row">
        <h3 class="text-center"> Delete Department Search </h3>
        <hr />

<div class="card-body">
         <!--  <form (ngSubmit)="onSubmit()">
  
            <div class="form-group">
              <label> ID </label>
              <input type="text" class="form-control" id="departmentId" [(ngModel)]="department.departmentId"
                     name="departmentId">
            </div>
  
            <br />
            <button class="btn btn-success" type="submit">Submit</button>
  
          </form> -->

        <div class="card-body">
            <tr>
              <td>
                <label>Search By ID</label>
              </td>
              <td>
                <input type="text" class="form-control" id="departmentIdVal" [(ngModel)]="departmentIdVal" 
                name="departmentIdVal" >
              </td>
              <td>
                <button (click) = "deleteDepartmentSearchById(departmentIdVal)" class = "btn btn-primary"> Search </button>
              </td>
            </tr>
        </div>
        <div class="card-body">
            <tr>
              <td>
                <label>Search By Name</label>
              </td>
              <td>
                <input type="text" class="form-control" id="departmentNameVal" [(ngModel)]="departmentNameVal"  
                name="departmentNameVal">
              </td>
              <td>
                <button (click) = "deleteDepartmentSearchByName(departmentNameVal)" class = "btn btn-primary"> Search </button>
              </td>
            </tr>
        </div>
      </div>
    </div>
  </div>
  <div class = "row">
    <h2> Department Details By Name</h2>
  </div>
  <table class = "table table-striped table-bordered">
    <thead>
    <tr>
      <th> ID</th>
      <th> Name</th>
      <th> Location </th>
      <th> Employee ID </th>
      <th> Actions </th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor = "let department of departments" >
      <td> {{ department?.departmentId! }} </td>
      <td> {{ department?.departmentName! }} </td>
      <td> {{ department?.departmentLocation! }} </td>
      <td> {{ department?.employeeId! }} </td>
      <td>
        <button (click) = "deleteDepartmentById(department?.departmentId!)" class = "btn btn-primary"> Delete</button>
      </td>
    </tr>
    </tbody>
  </table>
  