<div class = "row">
    <h2> Vehicle Details</h2>
  </div>
  <table class = "table table-striped table-bordered">
    <thead>
    <tr>
      <th> ID</th>
      <th> Type</th>
      <th> Number </th>
      <th> Model </th>
      <th> Seat Capacity </th>
      <th> Fuel Type </th>
      <th> AcType </th>
      <th> Actions </th>
    </tr>
    </thead>
    <tbody>
    <tr >
      <td style="width:5%"> {{ vehicle?.vehicleId! }} </td>
      <td style="width:20%"> {{ vehicle?.vehicleType! }} </td>
      <td style="width:10%"> {{ vehicle?.vehicleNumber! }} </td>
      <td style="width:5%"> {{ vehicle?.vehicleModel! }} </td>
      <td style="width:10%"> {{ vehicle?.vehicleSeatCapacity! }} </td>
      <td style="width:20%"> {{ vehicle?.vehicleFuelType! }} </td>
      <td style="width:20%"> {{ vehicle?.vehicleAcType! }} </td>
      <td style="width:30%">
        <button (click) = "updateVehicleById(vehicle?.vehicleId!)" class = "btn btn-primary"> Update</button>
        <button (click) = "deleteVehicleById(vehicle?.vehicleId!)" class = "btn btn-danger" style="margin-left: 10px"> Delete</button>
        <!--<button (click) = "vehicleDetails(vehicle?.vehicleId!)" class = "btn btn-primary" style="margin-left: 10px"> View</button>-->
      </td>
    </tr>
    </tbody>
  </table>
  