<div class="row">
    <div class="card col-md-6 offset-md-3 offset-md-3">
      <div class="row">
        <h3 class="text-center"> Update Vehicle Search </h3>
        <hr />

<div class="card-body">
         <!--  <form (ngSubmit)="onSubmit()">
  
            <div class="form-group">
              <label> ID </label>
              <input type="text" class="form-control" id="vehicleId" [(ngModel)]="vehicle.vehicleId"
                     name="vehicleId">
            </div>
  
            <br />
            <button class="btn btn-success" type="submit">Submit</button>
  
          </form> -->

        <div class="card-body">
            <tr>
              <td>
                <label>Search By ID</label>
              </td>
              <td>
                <input type="text" class="form-control" id="vehicleIdVal" [(ngModel)]="vehicleIdVal" 
                name="vehicleIdVal" >
              </td>
              <td>
                <button (click) = "updateVehicleSearchById(vehicleIdVal)" class = "btn btn-primary"> Search </button>
              </td>
            </tr>
        </div>
        <div class="card-body">
            <tr>
              <td>
                <label>Search By Type</label>
              </td>
              <td>
                <input type="text" class="form-control" id="vehicleTypeVal" [(ngModel)]="vehicleTypeVal"  
                name="vehicleTypeVal">
              </td>
              <td>
                <button (click) = "updateVehicleSearchByType(vehicleTypeVal)" class = "btn btn-primary"> Search </button>
              </td>
            </tr>
        </div>
      </div>
    </div>
  </div>
  <div class = "row">
    <h2> Vehicle Details By Type</h2>
  </div>
  <table class = "table table-striped table-bordered">
    <thead>
    <tr>
      <th> ID</th>
      <th> Type</th>
      <th> Number </th>
      <th> Model </th>
      <th> Seat Capacity </th>
      <th> Fuel Type </th>
      <th> AcType </th>
      <th> Actions </th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor = "let vehicle of vehicles" >
      <td style="width:5%"> {{ vehicle?.vehicleId! }} </td>
      <td style="width:20%"> {{ vehicle?.vehicleType! }} </td>
      <td style="width:10%"> {{ vehicle?.vehicleNumber! }} </td>
      <td style="width:5%"> {{ vehicle?.vehicleModel! }} </td>
      <td style="width:10%"> {{ vehicle?.vehicleSeatCapacity! }} </td>
      <td style="width:20%"> {{ vehicle?.vehicleFuelType! }} </td>
      <td style="width:20%"> {{ vehicle?.vehicleAcType! }} </td>
      <td style="width:30%">
        <button (click) = "updateVehicleById(vehicle?.vehicleId!)" class = "btn btn-primary"> Update</button>
      </td>
    </tr>
    </tbody>
  </table>
  