<nav class="navbar navbar-expand-sm bg-primary text-bg-success text-center navbar-dark">
  <ul class = "navbar-nav">
      <div layout-align="center center" style="height: 40px; width: 100%">
          <h4>MMTSPL Authentication Services </h4>
      </div>
      <!-- <button (click) = "goToLohinUser()" class = "btn btn-primary" style=font-size:12px> Logout</button> -->
  </ul>
</nav>
<!-- <header class = "header">
  <div class = "container">
    <span>MMTSPL Header</span>
  </div>
</header> -->




<nav class="navbar navbar-expand-sm bg-primary navbar-dark">

<!-- <div class="dropdown">
  <button class="dropbtn">Dropdown</button>
  <div class="dropdown-content">
    <a routerLink="login-user" routerLinkActive="active" class="nav-link" >Login User</a>
    <a routerLink="login-user-list" routerLinkActive="active" class="nav-link" >LoginUser List</a>
    <a routerLink="create-login-user" routerLinkActive="active" class="nav-link" >Add LoginUser</a>
    <a href="#">Link 2</a>
    <a href="#">Link 3</a>
  </div>
</div>
 -->

	<ul class="navbar-nav dropdown">
        <li class="nav-item dropbtn">
            Login User Service
          <ul class="dropdown-content">
			    <a routerLink="login-user" routerLinkActive="active" class="nav-link" >Login User</a>
			    <a routerLink="login-user-list" routerLinkActive="active" class="nav-link" >LoginUser List</a>
			    <a routerLink="create-login-user" routerLinkActive="active" class="nav-link" >Add LoginUser</a>
			    <a routerLink="registration-success" routerLinkActive="active" class="nav-link" >Registration Success</a>
          </ul>
        </li>
      </ul>


	<ul class="navbar-nav dropdown">
        <li class="nav-item dropbtn">
            Employee Service
          <ul class="dropdown-content">
				  <a routerLink="employees" routerLinkActive="active" class="nav-link" >Employee List</a>
				  <a routerLink="employee-complete-details-list" routerLinkActive="active" class="nav-link" >Employee Complete Details List</a>
			      <a routerLink="create-employee" routerLinkActive="active" class="nav-link" >Add Employee</a>
			      <a routerLink="update-employee" routerLinkActive="active" class="nav-link" >Update Employee</a>
				  <a routerLink="delete-employee" routerLinkActive="active" class="nav-link" >Delete Employee</a>
          </ul>
        </li>
      </ul>


	<ul class="navbar-nav dropdown">
        <li class="nav-item dropbtn">
            Address Service
          <ul class="dropdown-content">
			      <a routerLink="addresss" routerLinkActive="active" class="nav-link" >Address List</a>
			      <a routerLink="create-address" routerLinkActive="active" class="nav-link" >Add Address</a>
			      <a routerLink="update-address" routerLinkActive="active" class="nav-link" >Update Address</a>
			      <a routerLink="delete-address" routerLinkActive="active" class="nav-link" >Delete Address</a>
          </ul>
        </li>
      </ul>

	<ul class="navbar-nav dropdown">
        <li class="nav-item dropbtn">
            Customer Service
          <ul class="dropdown-content">
				<a routerLink="customers" routerLinkActive="active" class="nav-link" >Customer List</a>
				<a routerLink="create-customer" routerLinkActive="active" class="nav-link" >Add Customer</a>
				<a routerLink="update-customer" routerLinkActive="active" class="nav-link" >Update Customer</a>
				<a routerLink="delete-customer" routerLinkActive="active" class="nav-link" >Delete Customer</a>
          </ul>
        </li>
      </ul>

	<ul class="navbar-nav dropdown">
        <li class="nav-item dropbtn">
            Department Service
          <ul class="dropdown-content">
			      <a routerLink="departments" routerLinkActive="active" class="nav-link" >Department List</a>
			      <a routerLink="create-department" routerLinkActive="active" class="nav-link" >Add Department</a>
			      <a routerLink="update-department" routerLinkActive="active" class="nav-link" >Update Department</a>
			      <a routerLink="delete-department" routerLinkActive="active" class="nav-link" >Delete Department</a>
          </ul>
        </li>
      </ul>

	<ul class="navbar-nav dropdown">
        <li class="nav-item dropbtn">
            Product Service
          <ul class="dropdown-content">
			      <a routerLink="products" routerLinkActive="active" class="nav-link" >Product List</a>
			      <a routerLink="create-product" routerLinkActive="active" class="nav-link" >Add Product</a>
			      <a routerLink="update-product" routerLinkActive="active" class="nav-link" >Update Product</a>
			      <a routerLink="delete-product" routerLinkActive="active" class="nav-link" >Delete Product</a>
          </ul>
        </li>
      </ul>

	<ul class="navbar-nav dropdown">
        <li class="nav-item dropbtn">
            User Service
          <ul class="dropdown-content">
			      <a routerLink="users" routerLinkActive="active" class="nav-link" >User List</a>
			      <a routerLink="create-user" routerLinkActive="active" class="nav-link" >Add User</a>
			      <a routerLink="update-user" routerLinkActive="active" class="nav-link" >Update User</a>
			      <a routerLink="delete-user" routerLinkActive="active" class="nav-link" >Delete User</a>
          </ul>
        </li>
      </ul>

	<ul class="navbar-nav dropdown">
        <li class="nav-item dropbtn">
            Trip Service
          <ul class="dropdown-content">
			      <a routerLink="trips" routerLinkActive="active" class="nav-link" >Trip List</a>
			      <a routerLink="create-trip" routerLinkActive="active" class="nav-link" >Add Trip</a>
			      <a routerLink="update-trip" routerLinkActive="active" class="nav-link" >Update Trip</a>
			      <a routerLink="delete-trip" routerLinkActive="active" class="nav-link" >Delete Trip</a>
          </ul>
        </li>
      </ul>

	<ul class="navbar-nav dropdown">
        <li class="nav-item dropbtn">
            Vehicle Service
          <ul class="dropdown-content">
			      <a routerLink="vehicles" routerLinkActive="active" class="nav-link" >Vehicle List</a>
			      <a routerLink="create-vehicle" routerLinkActive="active" class="nav-link" >Add Vehicle</a>
			      <a routerLink="update-vehicle" routerLinkActive="active" class="nav-link" >Update Vehicle</a>
			      <a routerLink="delete-vehicle" routerLinkActive="active" class="nav-link" >Delete Vehicle</a>
          </ul>
        </li>
      </ul>

	  <ul class="navbar-nav">
        <li class="nav-item dropbtn">
		    <a href="http://localhost:5012" routerLinkActive="active" class="nav-link" >Home</a>
        </li>
      </ul>

	  <ul class="navbar-nav dropdown">
        <li class="nav-item dropbtn">
            <a href="http://localhost:5012" routerLinkActive="active" class="nav-link" >Logout</a>
        </li>
      </ul>

<!--   <ul class = "navbar-nav">

						Login User Links Starts
	
    <li class = "nav-item">
      <a routerLink="login-user" routerLinkActive="active" class="nav-link" >Login User</a>
    </li>
    <li class = "nav-item">
      <a routerLink="login-user-list" routerLinkActive="active" class="nav-link" >LoginUser List</a>
    </li>
    <li class = "nav-item">
      <a routerLink="create-login-user" routerLinkActive="active" class="nav-link" >Add LoginUser</a>
    </li>
    <li class = "nav-item">
      <a routerLink="registration-success" routerLinkActive="active" class="nav-link" >Registration Success</a>
    </li>
						Login User Links Ends

						Employee Links Starts


    <li class = "nav-item">
      <a routerLink="employees" routerLinkActive="active" class="nav-link" >Employee List</a>
    </li>
    <li class = "nav-item">
      <a routerLink="create-employee" routerLinkActive="active" class="nav-link" >Add Employee</a>
    </li>
    <li class = "nav-item">
      <a routerLink="update-employee" routerLinkActive="active" class="nav-link" >Update Employee</a>
    </li>
    <li class = "nav-item">
      <a routerLink="delete-employee" routerLinkActive="active" class="nav-link" >Delete Employee</a>
    </li>
						Employee Links Ends
     

    <li class = "nav-item">
      <a href="http://localhost:5007" routerLinkActive="active" class="nav-link" >Home</a>
    </li>
    <li class = "nav-item">
      <a href="http://localhost:5012" routerLinkActive="active" class="nav-link" >Logout</a>
    </li>
  </ul>
 -->
</nav>
<h5 class="text-center" style="background-color:LightBlue; color:lightseagreen; font-style:Italic;" > {{title}} </h5>
<div class = "container">
  <router-outlet></router-outlet>
</div>
<footer class = "footer">
  <div class = "container">
    <span>All Rights Reserved 2023 @MMTSPL</span>
  </div>
</footer>
