<div class = "row">
    <h2> Department Details</h2>
  </div>
  <table class = "table table-striped table-bordered">
    <thead>
    <tr>
      <th> ID</th>
      <th> Name</th>
      <th> Location </th>
      <th> Employee ID </th>
    </tr>
    </thead>
    <tbody>
    <tr >
      <td> {{ department?.departmentId! }} </td>
      <td> {{ department?.departmentName! }} </td>
      <td> {{ department?.departmentLocation! }} </td>
      <td> {{ department?.employeeId! }} </td>
      <td>
        <button (click) = "updateDepartmentById(department?.departmentId!)" class = "btn btn-primary"> Update</button>
        <button (click) = "deleteDepartmentById(department?.departmentId!)" class = "btn btn-danger" style="margin-left: 10px"> Delete</button>
        <!--<button (click) = "departmentDetails(department?.departmentId!)" class = "btn btn-primary" style="margin-left: 10px"> View</button>-->
      </td>
    </tr>
    </tbody>
  </table>
  