<div class="row">
    <div class="card col-md-4 offset-md-3 offset-md-3">
      <div class="row">
        <h6 class="text-center"> Create Employee </h6>
        <hr />
        <div class="card-body">
          <form (ngSubmit)="onSubmit()">
  
            <div class="form-group" style="font-size:10pt;">
              <label><b>Enter Employee Name</b></label>
              <input type="text" class="form-control" id="employeeName" [(ngModel)]="employee.employeeName"
                     name="employeeName" style="height:20px;font-size:10pt;">
            </div>
            <div class="form-group" style="font-size:10pt;">
              <label><b>Enter Employee Salary</b></label>
              <input type="text" class="form-control" id="employeeSalary" [(ngModel)]="employee.employeeSalary"
                     name="employeeSalary" style="height:20px;font-size:10pt;">
            </div>
            <div class="form-group" style="font-size:10pt;">
              <label><b>Enter Employee Age</b></label>
            <input type="text" class="form-control" id="employeeAge" [(ngModel)]="employee.employeeAge"
                     name="employeeAge" style="height:20px;font-size:10pt;">
            </div>
              <div class="form-group" style="font-size:10pt;">
              <label><b>Enter Employee Designation</b></label>
            <input type="text" class="form-control" id="employeeDesignation" [(ngModel)]="employee.employeeDesignation"
                     name="employeeDesignation" style="height:20px;font-size:10pt;">
            </div>
              <div class="form-group" style="font-size:10pt;">
              <label><b>Enter Employee Address</b></label>
            <input type="text" class="form-control" id="employeeAddress" [(ngModel)]="employee.employeeAddress"
                     name="employeeAddress" style="height:20px;font-size:10pt;">
            </div>
  
            <br />
            <button class="btn btn-success" type="submit"  style="font-size:14px;position: relative;">Submit</button>
  
          </form>
        </div>
      </div>
    </div>
  </div>
  